*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:before, .r:before,
.clearfix:after,
.r:after {
  content: " ";
  display: table; }

.clearfix:after, .r:after {
  clear: both; }

/*
 - 12 column grid
 - 3 breakpoints
 */
/* r = row (column container) */
.r {
  margin: 0 auto; }
  .r.rsw {
    max-width: 960px; }

/* c = column (content container) */
.c {
  padding: 0 16px;
  float: left; }
  .c.no-padding {
    padding: 0; }

.mt1 {
  margin-top: 8px; }

.pt1 {
  padding-top: 8px; }

.mt2 {
  margin-top: 16px; }

.pt2 {
  padding-top: 16px; }

.mt3 {
  margin-top: 24px; }

.pt3 {
  padding-top: 24px; }

.mt4 {
  margin-top: 32px; }

.pt4 {
  padding-top: 32px; }

.mt5 {
  margin-top: 40px; }

.pt5 {
  padding-top: 40px; }

.mt6 {
  margin-top: 48px; }

.pt6 {
  padding-top: 48px; }

.mt7 {
  margin-top: 56px; }

.pt7 {
  padding-top: 56px; }

.mt8 {
  margin-top: 64px; }

.pt8 {
  padding-top: 64px; }

.mt9 {
  margin-top: 72px; }

.pt9 {
  padding-top: 72px; }

.mt10 {
  margin-top: 80px; }

.pt10 {
  padding-top: 80px; }

.mt11 {
  margin-top: 88px; }

.pt11 {
  padding-top: 88px; }

.mt12 {
  margin-top: 96px; }

.pt12 {
  padding-top: 96px; }

.mt13 {
  margin-top: 104px; }

.pt13 {
  padding-top: 104px; }

.mt14 {
  margin-top: 112px; }

.pt14 {
  padding-top: 112px; }

.mt15 {
  margin-top: 120px; }

.pt15 {
  padding-top: 120px; }

.mt16 {
  margin-top: 128px; }

.pt16 {
  padding-top: 128px; }

.mt17 {
  margin-top: 136px; }

.pt17 {
  padding-top: 136px; }

.mt18 {
  margin-top: 144px; }

.pt18 {
  padding-top: 144px; }

.mt19 {
  margin-top: 152px; }

.pt19 {
  padding-top: 152px; }

.mt20 {
  margin-top: 160px; }

.pt20 {
  padding-top: 160px; }

.mr1 {
  margin-right: 8px; }

.pr1 {
  padding-right: 8px; }

.mr2 {
  margin-right: 16px; }

.pr2 {
  padding-right: 16px; }

.mr3 {
  margin-right: 24px; }

.pr3 {
  padding-right: 24px; }

.mr4 {
  margin-right: 32px; }

.pr4 {
  padding-right: 32px; }

.mr5 {
  margin-right: 40px; }

.pr5 {
  padding-right: 40px; }

.mr6 {
  margin-right: 48px; }

.pr6 {
  padding-right: 48px; }

.mr7 {
  margin-right: 56px; }

.pr7 {
  padding-right: 56px; }

.mr8 {
  margin-right: 64px; }

.pr8 {
  padding-right: 64px; }

.mr9 {
  margin-right: 72px; }

.pr9 {
  padding-right: 72px; }

.mr10 {
  margin-right: 80px; }

.pr10 {
  padding-right: 80px; }

.mr11 {
  margin-right: 88px; }

.pr11 {
  padding-right: 88px; }

.mr12 {
  margin-right: 96px; }

.pr12 {
  padding-right: 96px; }

.mr13 {
  margin-right: 104px; }

.pr13 {
  padding-right: 104px; }

.mr14 {
  margin-right: 112px; }

.pr14 {
  padding-right: 112px; }

.mr15 {
  margin-right: 120px; }

.pr15 {
  padding-right: 120px; }

.mr16 {
  margin-right: 128px; }

.pr16 {
  padding-right: 128px; }

.mr17 {
  margin-right: 136px; }

.pr17 {
  padding-right: 136px; }

.mr18 {
  margin-right: 144px; }

.pr18 {
  padding-right: 144px; }

.mr19 {
  margin-right: 152px; }

.pr19 {
  padding-right: 152px; }

.mr20 {
  margin-right: 160px; }

.pr20 {
  padding-right: 160px; }

.mb1 {
  margin-bottom: 8px; }

.pb1 {
  padding-bottom: 8px; }

.mb2 {
  margin-bottom: 16px; }

.pb2 {
  padding-bottom: 16px; }

.mb3 {
  margin-bottom: 24px; }

.pb3 {
  padding-bottom: 24px; }

.mb4 {
  margin-bottom: 32px; }

.pb4 {
  padding-bottom: 32px; }

.mb5 {
  margin-bottom: 40px; }

.pb5 {
  padding-bottom: 40px; }

.mb6 {
  margin-bottom: 48px; }

.pb6 {
  padding-bottom: 48px; }

.mb7 {
  margin-bottom: 56px; }

.pb7 {
  padding-bottom: 56px; }

.mb8 {
  margin-bottom: 64px; }

.pb8 {
  padding-bottom: 64px; }

.mb9 {
  margin-bottom: 72px; }

.pb9 {
  padding-bottom: 72px; }

.mb10 {
  margin-bottom: 80px; }

.pb10 {
  padding-bottom: 80px; }

.mb11 {
  margin-bottom: 88px; }

.pb11 {
  padding-bottom: 88px; }

.mb12 {
  margin-bottom: 96px; }

.pb12 {
  padding-bottom: 96px; }

.mb13 {
  margin-bottom: 104px; }

.pb13 {
  padding-bottom: 104px; }

.mb14 {
  margin-bottom: 112px; }

.pb14 {
  padding-bottom: 112px; }

.mb15 {
  margin-bottom: 120px; }

.pb15 {
  padding-bottom: 120px; }

.mb16 {
  margin-bottom: 128px; }

.pb16 {
  padding-bottom: 128px; }

.mb17 {
  margin-bottom: 136px; }

.pb17 {
  padding-bottom: 136px; }

.mb18 {
  margin-bottom: 144px; }

.pb18 {
  padding-bottom: 144px; }

.mb19 {
  margin-bottom: 152px; }

.pb19 {
  padding-bottom: 152px; }

.mb20 {
  margin-bottom: 160px; }

.pb20 {
  padding-bottom: 160px; }

.ml1 {
  margin-left: 8px; }

.pl1 {
  padding-left: 8px; }

.ml2 {
  margin-left: 16px; }

.pl2 {
  padding-left: 16px; }

.ml3 {
  margin-left: 24px; }

.pl3 {
  padding-left: 24px; }

.ml4 {
  margin-left: 32px; }

.pl4 {
  padding-left: 32px; }

.ml5 {
  margin-left: 40px; }

.pl5 {
  padding-left: 40px; }

.ml6 {
  margin-left: 48px; }

.pl6 {
  padding-left: 48px; }

.ml7 {
  margin-left: 56px; }

.pl7 {
  padding-left: 56px; }

.ml8 {
  margin-left: 64px; }

.pl8 {
  padding-left: 64px; }

.ml9 {
  margin-left: 72px; }

.pl9 {
  padding-left: 72px; }

.ml10 {
  margin-left: 80px; }

.pl10 {
  padding-left: 80px; }

.ml11 {
  margin-left: 88px; }

.pl11 {
  padding-left: 88px; }

.ml12 {
  margin-left: 96px; }

.pl12 {
  padding-left: 96px; }

.ml13 {
  margin-left: 104px; }

.pl13 {
  padding-left: 104px; }

.ml14 {
  margin-left: 112px; }

.pl14 {
  padding-left: 112px; }

.ml15 {
  margin-left: 120px; }

.pl15 {
  padding-left: 120px; }

.ml16 {
  margin-left: 128px; }

.pl16 {
  padding-left: 128px; }

.ml17 {
  margin-left: 136px; }

.pl17 {
  padding-left: 136px; }

.ml18 {
  margin-left: 144px; }

.pl18 {
  padding-left: 144px; }

.ml19 {
  margin-left: 152px; }

.pl19 {
  padding-left: 152px; }

.ml20 {
  margin-left: 160px; }

.pl20 {
  padding-left: 160px; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tu {
  text-transform: uppercase; }

.t300 {
  font-weight: 300; }

.t700 {
  font-weight: 700; }

.ib {
  display: inline-block; }

.block {
  display: block; }

.bc {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.sc {
  margin-left: auto;
  margin-right: auto;
  float: none; }

/* borders */
.border-top {
  border-top: 4px solid #ff0000; }
  @media only screen and (max-width: 768px) {
    .border-top {
      border-top: none; } }

.border-right {
  border-right: 4px solid #ff0000; }
  @media only screen and (max-width: 768px) {
    .border-right {
      border-right: none; } }

.border-bottom {
  border-bottom: 4px solid #ff0000; }
  @media only screen and (max-width: 768px) {
    .border-bottom {
      border-bottom: none; } }

.border-left {
  border-left: 4px solid #ff0000; }
  @media only screen and (max-width: 768px) {
    .border-left {
      border-left: none; } }

.border {
  border: 4px solid #ff0000; }
  @media only screen and (max-width: 480px) {
    .border {
      border: none; } }

/* columns */
.s1 {
  width: 8.33333%; }

.so1 {
  margin-left: 8.33333%; }

.s2 {
  width: 16.66667%; }

.so2 {
  margin-left: 16.66667%; }

.s3 {
  width: 25%; }

.so3 {
  margin-left: 25%; }

.s4 {
  width: 33.33333%; }

.so4 {
  margin-left: 33.33333%; }

.s5 {
  width: 41.66667%; }

.so5 {
  margin-left: 41.66667%; }

.s6 {
  width: 50%; }

.so6 {
  margin-left: 50%; }

.s7 {
  width: 58.33333%; }

.so7 {
  margin-left: 58.33333%; }

.s8 {
  width: 66.66667%; }

.so8 {
  margin-left: 66.66667%; }

.s9 {
  width: 75%; }

.so9 {
  margin-left: 75%; }

.s10 {
  width: 83.33333%; }

.so10 {
  margin-left: 83.33333%; }

.s11 {
  width: 91.66667%; }

.so11 {
  margin-left: 91.66667%; }

.s12 {
  width: 100%; }

.so12 {
  margin-left: 100%; }

@media only screen and (min-width: 768px) {
  .m1 {
    width: 8.33333%; }

  .mo1 {
    margin-left: 8.33333%; }

  .m2 {
    width: 16.66667%; }

  .mo2 {
    margin-left: 16.66667%; }

  .m3 {
    width: 25%; }

  .mo3 {
    margin-left: 25%; }

  .m4 {
    width: 33.33333%; }

  .mo4 {
    margin-left: 33.33333%; }

  .m5 {
    width: 41.66667%; }

  .mo5 {
    margin-left: 41.66667%; }

  .m6 {
    width: 50%; }

  .mo6 {
    margin-left: 50%; }

  .m7 {
    width: 58.33333%; }

  .mo7 {
    margin-left: 58.33333%; }

  .m8 {
    width: 66.66667%; }

  .mo8 {
    margin-left: 66.66667%; }

  .m9 {
    width: 75%; }

  .mo9 {
    margin-left: 75%; }

  .m10 {
    width: 83.33333%; }

  .mo10 {
    margin-left: 83.33333%; }

  .m11 {
    width: 91.66667%; }

  .mo11 {
    margin-left: 91.66667%; }

  .m12 {
    width: 100%; }

  .mo12 {
    margin-left: 100%; } }
@media only screen and (min-width: 1200px) {
  .l1 {
    width: 8.33333%; }

  .lo1 {
    margin-left: 8.33333%; }

  .l2 {
    width: 16.66667%; }

  .lo2 {
    margin-left: 16.66667%; }

  .l3 {
    width: 25%; }

  .lo3 {
    margin-left: 25%; }

  .l4 {
    width: 33.33333%; }

  .lo4 {
    margin-left: 33.33333%; }

  .l5 {
    width: 41.66667%; }

  .lo5 {
    margin-left: 41.66667%; }

  .l6 {
    width: 50%; }

  .lo6 {
    margin-left: 50%; }

  .l7 {
    width: 58.33333%; }

  .lo7 {
    margin-left: 58.33333%; }

  .l8 {
    width: 66.66667%; }

  .lo8 {
    margin-left: 66.66667%; }

  .l9 {
    width: 75%; }

  .lo9 {
    margin-left: 75%; }

  .l10 {
    width: 83.33333%; }

  .lo10 {
    margin-left: 83.33333%; }

  .l11 {
    width: 91.66667%; }

  .lo11 {
    margin-left: 91.66667%; }

  .l12 {
    width: 100%; }

  .lo12 {
    margin-left: 100%; } }
@media only screen and (max-width: 768px) {
  .hfs {
    display: none;
    visibility: hidden; } }
@media only screen and (max-width: 768px) {
  .small-block {
    display: block; } }

/*# sourceMappingURL=tiny-grid.css.map */
